<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Nhandenvip</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/wdt-style.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
<style>

        .body{
            font-size: 15px;
        }

        .btn-login-others {
            margin: 10px 0px;
            height: 40px;
        }

        .page-title {
            margin: 0;
            font-weight: 500;
            font-size: 20px;
            margin: 10px 0px 5px 0px;
            text-transform: uppercase;
            color: #2980b9;
        }

        .ModuleContent {
            background-color: #ebebeb;
            padding: 0px 10px !important;
            margin-left: -15px;
        }

        .mylist{
            color: white;
            width: 100%;
            margin-top: 27px;
        }

        #QuanTri{
            background: white;
            position: fixed;
            z-index: 1000;
            padding: 12px;
            left: 0;
            float: left;
            top: 59px;
            cursor: pointer;
            width: 50px;
            height: 50px;
        }


        /* The side navigation menu */
    .sidenav {
        border: 1px solid black;
        height: 400px; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1001; /* Stay on top */
        top: 50px;
        left: 0;
        background-color: #ebebeb black;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

        /* The navigation menu links */
        .sidenav a {
          padding: 8px 8px 8px 32px;
          text-decoration: none;
          color: #818181;
          display: block;
          transition: 0.3s;
        }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
          color: #f1f1f1;
        }

        /* Position and style the close button (top right corner) */
        .sidenav .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 36px;
          margin-left: 20px;
        }
    .sidenav ul li a:hover{
        color: red;
    }
        .sidenav ul li{
            border-bottom: 1px solid black;
        }
</style>
</head>
<body class="body">
    <div class="header navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/">
                    <img class="navbar-brand" src="http://st.nettruyen.com/data/logos/logo-nettruyen.png" />
                </a>
            </div>
            <div class="navbar-collapse collapse center-block mylist">
                @if (Session["USERNAME"] != null)
                {
                    <ul class="list-inline">
                        <li><a style="color:white!important" href="~/USERs/Details/@Session["IDUSER"]">@Session["USERNAME"].ToString()</a>, </li>
                        <li><a style="color:white!important" href="@Url.Action("Logout", "Home")">Thoát</a></li>
                    </ul>
                }
                else
                {
                    <p>
                        <a class="mylink" style="color:white!important" href="@Url.Action("Login", "Home")">Đăng nhập</a> /
                        <a class="mylink" style="color:white!important" href="@Url.Action("Register", "Home")">Đăng ký</a>
                    </p>
                }
            </div>
        </div>
        <div class="header-list" style="padding-left: 150px;" id="header-list">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                    <li>@Html.ActionLink("Truyện tranh", "About", "Home")</li>
                    <li>@Html.ActionLink("Truyện chữ", "Contact", "Home")</li>
                    @if (Session["IDUSER"] != null && Session["IDUSER"].Equals(1))
                    {
                        <li>@Html.ActionLink("Quản trị", "QuanTri", "Home")</li>
                    }
                </ul>
            </div>
        </div>
    </div>



    <div class="container body-content" style="padding-top: 30px">
        @RenderBody()
    </div>


    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="footer-content-logo">
                        <img src="http://st.nettruyen.com/data/logos/logo-nettruyen.png" />
                    </div>
                    <div class="footer-content-info">
                        <img src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.0-1/cp0/p80x80/22528449_1856634004370937_5820400839758379699_n.jpg?_nc_cat=1&ccb=1-3&_nc_sid=dbb9e7&_nc_ohc=7RAb5FsFfh8AX9o2rBL&_nc_ht=scontent.fhan2-4.fna&tp=27&oh=099665e5415a524c66dc78d51f7963fd&oe=607C1E09" width="50" atl="ảnh" title="ảnh" style="border:1px solid black;">
                        <a href="#" style="color:#365899; text-decoration: none;"><b>Truyện Tranh online...</b></a>
                    </div>
                    <div class="footer-content-copyright">
                        Copyright &copy; 2021 N2H Team
                    </div>
                </div>
                <div class="col-md-8 col-lg-8 col-sm-12">
                    <strong class="footer-title-theloai">Thể loại</strong>
                    <ul>
                        <li><a href="#" target="_self">Nhật Bản</a></li>
                        <li><a href="#" target="_self">Việt Nam</a></li>
                        <li><a href="#" target="_self">Thiếu nhi</a></li>
                        <li><a href="#" target="_self">Tình cảm</a></li>
                        <li><a href="#" target="_self">Hài hước</a></li>
                        <li><a href="#" target="_self">Xuyên không</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    @if (Session["IDUSER"] != null && Session["IDUSER"].Equals(1))
    {
              <div id="QuanTri"  onclick="openNav()">
                  <i class="fa fa-bars" aria-hidden="true" style="font-size: 2em;"></i>
              </div>
              <div id="mySidenav" class="sidenav">
                  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                  <ul class="list-unstyled" style="margin-left: -15px;">
                      <li class="active"><a href="~/USERs"><i class="fa fa-info-circle"></i> Quản trị thành viên</a></li>
                      <li><a href="/TRUYENs"><i class="fa fa-book"></i> Quản trị truyện</a></li>
                      <li><a href="#"><i class="fa fa-list"></i> Quản trị Chapter</a></li>
                      <li><a href="#"><i class="fa fa-comments"></i> Bình luận</a></li>
                      <li><a href="#"><i class="fa fa-comment"></i> Thông báo</a></li>
                  </ul>
              </div>
    }

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "170px";
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }

</script>
    @Scripts.Render("~/Scripts/wdt-script.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
