@model WebDocTruyen.Models.USER

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChangePassword</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>USER</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IDUSER)
    @using (Html.BeginForm("ChangePassword", "USERs", FormMethod.Post))
    {
        <div style="width: 500px; margin-left: 27%;">
            <div class="form-group">
                @Html.LabelFor(m => m.PASSWORD)
                @Html.TextBoxFor(m => m.PASSWORD, "", new { @class = "form-control", @placeholder = "Username", @width = 300 })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.USERNAME)
                @Html.TextBoxFor(m => m.USERNAME, "", new { @class = "form-control", @placeholder = "Username", @width = 300 })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.USERNAME)
                @Html.TextBoxFor(m => m.USERNAME, "", new { @class = "form-control", @placeholder = "Username", @width = 300 })
            </div>

            @ViewBag.error
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
